@font-face {
    font-family: 'Gilroy-ExtraBold';
    font-weight: 400;
    src: url("Gilroy-ExtraBold.otf") format("opentype");
}

@font-face {
    font-family: 'Gilroy-Light';
    font-weight: 400;
    src: url("Gilroy-Light.otf") format("opentype");
}

@font-face {
    font-family: 'Gilroy-Regular';
    font-weight: 400;
    src: url("Gilroy-Regular.otf") format("opentype");
}

[extra-bold]{
    font-family: 'Gilroy-ExtraBold';
}

[light]{
    font-family: 'Gilroy-Light';
}

[regular]{
    font-family: 'Gilroy-Regular';
}