<div class="page">
    <div class="content">
        <div id="definition"><div><span>{{definition}}</span></div></div>
        <div id="question"><div><span>{{question}}</span></div></div>
        <div id="good_answer"><div><span>{{good_answer}}</span></div></div>
        <div id="wrong_answer"><div><span>{{wrong_answer}}</span></div></div>
        <div id="thanks"><div><span>{{thanks}}</span></div></div>
        <div id="redirecting"><div><span>{{redirecting}}</span></div></div>
    </div>
</div>