<div class="page">
    <div class="content">
        <div id="definition"><div><span>{{data.definition}}</span> </div></div>
        <div id="question"><div><span>{{data.question}}</span></div></div>
        <div id="good_answer"><div><span>{{data.good_answer}}</span></div></div>
        <div id="wrong_answer"><div><span>{{data.wrong_answer}}</span></div></div>
        <div id="thanks"><div><span>{{data.thanks}}</span></div></div>
        <div id="redirecting"><div><span>{{data.redirecting}}</span></div></div>
    </div>
</div>