//-- Main Styles

*, html, body{
    font-family: 'Gilroy-ExtraBold';
    font-weight: normal;
    color: white;
    overflow: hidden;
}

body{
    margin: 0px;
    -webkit-transition: all 1.2s ease-in-out;
    -moz-transition: all 1.2s ease-in-out;
    -o-transition: all 1.2s ease-in-out;
    -ms-transition: all 1.2s ease-in-out;
    transition: all 1.2s ease-in-out;
}

.color-1{ background-color: #832925 !important; }
.color-2{ background-color: #BC684F !important; }
.color-3{ background-color: #9A615D !important; }
.color-4{ background-color: #E2AAA5 !important; }
.color-5{ background-color: #E2A882 !important; }
.color-6{ background-color: #3A1D15 !important; }


.icon{
    position: absolute;
    height: 100vh;
    bottom: 0;
    left: 0;
    right: 0;
}


.page{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: transparent;

    & > .content{
        text-align: center;
        display: table;
        height: 100%;

        & > div {
            position: absolute;
            perspective: 500px;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;

            -webkit-font-smoothing: subpixel-antialiased;

            & > div {
                position: relative;
                width: 100vw;
                height: 100vh;
                display: table-cell;
                vertical-align: middle;

                -webkit-font-smoothing: subpixel-antialiased;

                & > span {
                    font-size: 2.5rem;

                    -webkit-font-smoothing: subpixel-antialiased;
                    backface-visibility: hidden; 
                    transform: translateZ(0) scale(1.0, 1.0) !important;
                    
                }
            }

            & > div:nth-child(1){
                padding-left: 15%;
                padding-right: 15%;

                & > span{ font-size: 60px; }

                @media screen and (min-width: 768px) and (max-width: 1024px){
                    padding-left: 10%;
                    padding-right: 10%;
                    & > span{ font-size: 39px; }
                }
            }

        }

        & > div:nth-child(1) { opacity: 1; }
        & > div:nth-child(2) { opacity: 0; }
        & > div:nth-child(3) { opacity: 0; }
        & > div:nth-child(4) { opacity: 0; }
        & > div:nth-child(5) { opacity: 0; }
        & > div:nth-child(6) { opacity: 0; }
    }
}