//-- Main Styles

*, html, body{
    font-family: 'Gilroy-ExtraBold';
    font-weight: normal;
    color: white;
    overflow: hidden;
}

body{
    margin: 0px;
    -webkit-transition: all 1.2s ease-in-out;
    -moz-transition: all 1.2s ease-in-out;
    -o-transition: all 1.2s ease-in-out;
    -ms-transition: all 1.2s ease-in-out;
    transition: all 1.2s ease-in-out;
}

.color-1{ background-color: #832925 !important; }
.color-2{ background-color: #BC684F !important; }
.color-3{ background-color: #9A615D !important; }
.color-4{ background-color: #3A1D15 !important; }

.color-e-1{ background-color: #E2AAA5 !important; }
.color-e-2{ background-color: #E2A882 !important; }

.icon{
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: -1;

    & > .content{
        position: absolute;
        bottom: 2.5rem;
        left: 50%;
        right: 0;
        display: inline-grid;
        overflow: initial;

        & > span {
            font-size: 1rem;
            margin-left: -7px;
            margin-bottom: 7px;        
        }
    }
}


.dispose{
    position: fixed;
    width: 100vw;
    height: 7vh;
    right: 0;
    z-index: 3;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;

    & > .content{
        position: absolute;
        right: 1rem;
        top: 1rem;
        display: inline-grid;
        overflow: initial;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;

        & > img {
            width: 40px;
            height: auto;

            -webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            -o-transition: all 0.5s ease-in-out;
            -ms-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
        }

        & > span {
            font-size: 1rem;
            margin-left: -7px;
            margin-bottom: 7px;        
        }
    }
}

.dispose:hover{
    cursor: pointer;
    
    & > .content{
        & > img {
            transform: scale(1.05);
        }
    }
}


#timer{
    opacity: 0;
    & >.content{
        & > img {
            margin-left: -14px;
        }
    }
}


#pick{
    opacity: 0;
    & >.content{
        & > span {
            margin-left: -22px;
        }
    }
}


.page{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: transparent;

    & > .content{
        text-align: center;
        display: table;
        height: 100%;

        & > div {
            position: absolute;
            perspective: 500px;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;

            -webkit-font-smoothing: subpixel-antialiased;

            & > div {
                position: relative;
                width: 100vw;
                height: 100vh;
                display: table-cell;
                vertical-align: middle;

                -webkit-font-smoothing: subpixel-antialiased;

                & > span {
                    font-size: 2.5rem;

                    -webkit-font-smoothing: subpixel-antialiased;
                    backface-visibility: hidden; 
                    transform: translateZ(0) scale(1.0, 1.0) !important;
                    
                }
            }

            & > div:nth-child(1){
                padding-left: 15%;
                padding-right: 15%;

                & > span{ font-size: 60px; }

                @media screen and (min-width: 768px) and (max-width: 1024px){
                    padding-left: 10%;
                    padding-right: 10%;
                    & > span{ font-size: 39px; }
                }
            }

        }

        & > div:nth-child(1) { opacity: 1; }
        & > div:nth-child(2) { opacity: 0; }
        & > div:nth-child(3) { opacity: 0; }
        & > div:nth-child(4) { opacity: 0; }
        & > div:nth-child(5) { opacity: 0; }
        & > div:nth-child(6) { opacity: 0; }
    }
}


[page-mobile]{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: transparent;

    & > .content{
        text-align: center;
        display: table;
        height: 100%;

        & > div {
            position: absolute;
            perspective: 500px;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;

            -webkit-font-smoothing: subpixel-antialiased;

            & > div {
                position: relative;
                width: 100vw;
                height: 100vh;
                display: table-cell;
                vertical-align: middle;

                -webkit-font-smoothing: subpixel-antialiased;

                & > span {
                    font-size: 2.5rem;

                    -webkit-font-smoothing: subpixel-antialiased;
                    backface-visibility: hidden; 
                    transform: translateZ(0) scale(1.0, 1.0) !important;
                    
                }
            }

            & > div:nth-child(1){
                padding-left: 15%;
                padding-right: 15%;

                & > span{ 
                    font-size: 60px; 
                    @media (max-width: 768px){
                        font-size: 1.5rem;
                    }
                }

                @media screen and (min-width: 768px) and (max-width: 1024px){
                    padding-left: 10%;
                    padding-right: 10%;
                    & > span{ font-size: 39px; }
                }
            }

        }

        & > div:nth-child(1) { 
            opacity: 1; 
        }

        & > div:nth-child(2) { 
            opacity: 0; 
        }

        & > div:nth-child(3) { 
            opacity: 0; 
        }

        & > div:nth-child(4) { 
            opacity: 0; 
        }

        & > div:nth-child(5) { 
            opacity: 0; 
        }

        & > div:nth-child(6) { 
            opacity: 0; 
        }
    }
}



.question{
    span {
        font-size: 8rem;
    }
}


.answer{
    z-index: 3;

    & > div{
        & > .row{
            position: relative;
            height: 100%;
            width: 100%;
            overflow: initial;

            & > div {
                position: absolute;
                top: 50%;
                -webkit-transition: all 0.5s ease-in-out;
                -moz-transition: all 0.5s ease-in-out;
                -o-transition: all 0.5s ease-in-out;
                -ms-transition: all 0.5s ease-in-out;
                transition: all 0.5s ease-in-out;
                transform: translateY(-50%);

                span{ font-size: 2rem; }
            }

            & > div:nth-child(1){
                padding-right: 8rem;
            }

            & > div:nth-child(2){
                right: 0;
                padding-left: 8rem;
            }

            & > div:hover{
                transform: translateY(-50%) scale(1.1);
                cursor: default;
            }
        }
    }
}


.thanks{
    span:nth-child(1){
        font-size: 8rem;
    }
    span:nth-child(2){
        font-size: 1rem !important;
    }
}


[page-no-mobile]{
    @media (max-width: 768px){ display: none; }
    @media (min-width: 768px){ display: block; }
}


[page-mobile]{
    @media (max-width: 768px){ display: block; }
    @media (min-width: 768px){ display: none; }
}


.pointer{

}